@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');

h1.text {
    font-size: 3.1em;
}

.date {
    font-size: 1em;
    float: right;
    margin-top: -4em;
}

.version_type {
    font-size: 1em;
}


.download {
    float: right;
    margin-top: -1.3em;
    font-size: 2em;
    padding: 0.35em 0.7em;
}

.download:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.cb {
    margin-top: -2em;
    font-size: 1.5em;
    float: right;
}

#id_body {
    border-radius: 0.5em;
    width: 50%;
    height: 3em;
    font-family: 'Play', sans-serif;
}

.creator {
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: underline;
}