@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');
/* @media screen() {

} */

/* HEADER */
.header {
    height: 6.25em;
    width: 100%;
    margin-top: -0.5625em;
    margin-left: -0.5em;
    align-items: center;
}

.img-logo {
    margin-top: 1.8125em;
    margin-left: 1.5em;
    height: 35%;
    float: left;
    margin-right: 25em;
}

button.hb {
    margin-top: 0.3em;
    margin-left: 1em;
}

button.hbr {
    font-size: 2.2em;
}

div.logout {
    display: flex;
    margin-right: 1em;
    float: right;
}

div.register {
    display: block;
    margin-top: -0.5em;
    margin-right: 1em;
    float: right;
}

button.login {
    margin-left: 5em;
    margin-top: 0.1em;
}

img.avatar {
    margin-right: -1em;
    width: 6em;
    height: 6em;
    border-radius: 0.5em;
}

button.logout {
    margin-top: 0.4em;
}


/* END HEADER */

/* BUTTON FOR CHANGE THEME */

button.change_theme, #themes > a > i {
    background-color: rgba(0, 0, 0, 0);
    margin-left: 36.6em;
    flex-direction: column;
    font-size: 3em;
    display: inline-block;
}

div.change_theme {
    position: fixed;
    bottom: 0;
    right: 0;
    display: block;
}

#themes > a > i {
    padding: 0.2em 0;
}

/* END BUTTON FOR CHANGE THEME */

/* BASE MOMENTS */

.dropdown_menu {
    visibility: hidden;
    opacity: 0;
    z-index: -1;
}

.show {
    z-index: 9;
    visibility: visible;
    opacity: 1;
}

button {
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    border: none;
    cursor: pointer;
    font: bold 3.125em 'Play', sans-serif;
    border-radius: 0.3125em;
}

a {
    text-decoration: none;
}



.text {
    font: bold 0.5em 'Play', sans-serif;
}

.mini-text {
    font: bold 1.5em 'Play', sans-serif;
}

.big {
    font-size: 2em;
}

.font_play {
    font-family: 'Play', sans-serif;
}