@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');

@media screen and (min-width: 1920px) {
    body {
        font-size: 16px;
    }
}
@media screen and (min-width: 1230px) and (max-width: 1300px) {
    body {
        font-size: 10.3px;
    }
}

/* HEADER */
.header {
    height: 6.25em;
    width: 100%;
    margin-top: -0.5625em;
    margin-left: -0.5em;
    align-items: center;
}

.img-logo {
    margin-top: 1.8125em;
    margin-left: 1.5em;
    height: 35%;
    float: left;
    margin-right: 25em;
}

button.hb {
    float: left;
    margin-top: 0.3em;
    margin-left: 1.4em;
}

button.hbr {
    font-size: 2.2em;
}

button.login {
    margin-left: 19em;
}
button.register {
    margin-bottom: -0.3em;
    margin-left: 15em;
}

button.hbl {
    font-size: 2.5em;
}

img.avatar {
    margin-left: 8em;
    margin-right: 0;
    width: 6em;
    height: 6em;
    border-radius: 0.5em;
}

button.logout {
    margin-top: -1.7em;
    margin-right: 1em;
    float: right;
    font-size: 3em;
}

/* END HEADER */

/* BUTTON FOR CHANGE THEME */

button.change_theme, #themes > a > i {
    background-color: rgba(0, 0, 0, 0);
    margin-left: 36.6em;
    flex-direction: column;
    font-size: 3em;
    display: inline-block;
}

div.change_theme {
    position: fixed;
    bottom: 0;
    right: 0;
    display: block;
}

#themes > a > i {
    padding: 0.2em 0;
}

/* END BUTTON FOR CHANGE THEME */

/* CUSTOM SCROLLBAR */
::-webkit-scrollbar {
    width: 0.5em;
}

::-webkit-scrollbar-track {
    background-color: darkgrey;
}

::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
    border-radius: 1em;
}
/* END CUSTOM SCROLLBAR */

/* BASE MOMENTS */

.dropdown_menu {
    visibility: hidden;
    opacity: 0;
    z-index: -1;
}

.show {
    z-index: 9;
    visibility: visible;
    opacity: 1;
}

button {
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    border: none;
    cursor: pointer;
    font: bold 3.125em 'Play', sans-serif;
    border-radius: 0.3125em;
}

a {
    text-decoration: none;
}



.text {
    font: bold 0.5em 'Play', sans-serif;
}

.mini-text {
    font: bold 1.5em 'Play', sans-serif;
}

.big {
    font-size: 2em;
}

.font_play {
    font-family: 'Play', sans-serif;
}