@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');

.header {
    height: 100px;
    margin-top: -9px;
    margin-left: -8px;
    align-items: center;
}

.img-logo {
    margin-top: 29px;
    margin-left: 24px;
    height: 35%;
    float: left;
    margin-right: 400px;
}

button {
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    border: none;
    cursor: pointer;
    font: bold 50px 'Play', sans-serif;
    border-radius: 5px;
}

button.hb {
    float: left;
    margin-top: 17px;
    margin-left: 70px;
}

button.hbr {
    font-size: 30px;
}
button.hbl {
    font-size: 40px;
}
button.login {
    margin-left: 170px;
}
button.register {
    margin-bottom: -10px;
}

button.username {
    margin-top: 0.65em;
    margin-right: 0.1em;
}

button.logout {
    margin-top: 0.23em;
    margin-left: 0.1em;
}

button.change_theme {
    position: fixed;
    background-color: rgba(0, 0, 0, 0);
    margin-left: 96%;
    margin-top: 41%;
    flex-direction: column;
    display: flex;
}

.fa_sun::before {
    content: "\f185";
    font: var(--fa-font-pro);
}

.text {
    font: bold 25px 'Play', sans-serif;
}

.big {
    font-size: 40px
}