.file_info {
    background-color: #ccc;
}

.af, .fav {
    background-color: #2b87d3;
    color: #fff;
}

.ifav {
    color: #fff;
}

.af:hover {
    background-color: #fff;
    color: #2b87d3;
}

.select__toggle {
    background-color: #2b87d3;
    border-color: #ccc;
    color: #fff;
}

.select__dropdown {
    border-bottom: #ccc;
    background-color: #fff;
}

.select__option_selected {
    background-color: #e1f5fe;
}

.select__option_selected::after {
    color: #0277bd;
}

.select__option:hover {
    background-color: #0277bd;
}