{% extends 'home/ex.html' %}
{% load static %}

{% block import %}
<link rel="stylesheet" href="{% static 'files/css/detail_views.css' %}">
{% endblock %}

{% block title %}{{ file.title }} — Fawn-Files{% endblock %}

{% block content %}
    <h1 class="text">{{ file.title }}</h1>
    <h6 class="date mini-text">{{ file.datetime }} по МСК</h6>
    <p class="full_txt mini-text">{{ file.full_txt }}</p>

    <h6 class="version_type mini-text">
      {% for ver in file.version.all %}
        {{ ver }},
      {% endfor %}

       {{ file.type.name }}

        {% if request.user.is_authenticated %}
            <a href="{% url 'favourite_add' file.pk %}"><i class="{{ fav }} fa-star"></i></a>
        {% endif %}

        {% if file.creator %}
            <a href="{% url 'user_profile' file.creator.profile.pk %}" class="creator">{{ file.creator.username }}</a>
        {% endif %}
        </h6>

    <a href="{{ file.url }}" target="_blank"><button class="download text">Скачать файл/файлы</button></a><br>

    <form method="post" class="mini-text">
        {% if request.user.is_authenticated %}
          {% for f in comment_form %}
            <p><label class="form-label" for="{{ f.id_for_label }}">{{ f.label }}: </label>{{ f }}</p>
            <div class="form-error">{{ f.errors }}</div>
          {% endfor %}
          {% csrf_token %}
          <button type="submit" class="cb">Оставить</button><br>
        {% endif %}

    {% for comment in comments %}
        <div class="comments" style="padding: 10px;">
          <p class="font-weight-bold">
            <a href="{% url 'user_profile' comment.user.profile.pk %}" class="text-color">
              <img src="{{ comment.user.avatar.url }}" style="width: 2em; height: 2em; border-radius: 0.2em;">
              {{ comment.user.username }}
            </a>
            <span class=" text-muted font-weight-normal">
              {{ comment.created_on }}
            </span>
          </p>
          {{ comment.body | linebreaks }}
        </div>
        {% endfor %}
{% endblock %}